#workexperience {
  background: radial-gradient(#E1CDAC, #EDA791, #FED2C1);
}

#workexperience .flex_container {
  padding: 3rem 0;
}

#workexperiencespecific {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#workexperience section {
  min-width: 100vw;
}

#workexperience .info_box {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}