#coursework {
  background: radial-gradient(#EFDCDD, #F3DCDD);
}

#coursework .info_box {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  
}