#apodr {
  background: linear-gradient(to right, #D2C1D3, #F3C5CB);
}

#apodcs {
  background: linear-gradient(to right, #E3E7E1, #E4E3DB);
}

#apodr li {
  font-size: 1.3rem;
}

.carousel .slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel .slide img {
  max-width: 500px;
  max-height: 100%;
  justify-self: center;
  align-self: center;
}

.carousel .thumbs {
  display: flex;
}

.carousel-root {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.thumbs-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.thumbs {
  padding-inline-start: 0;
}

.final_results {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
}

.final_results img {
  max-width: 100%;
  max-height: 100%;
  width: 30%;
}

#apodcs li a {
  font-size: 1.3rem;
}