#apodr {
  background: linear-gradient(to right, #D2C1D3, #F3C5CB);
}

#apodcs {
  background: linear-gradient(to right, #E3E7E1, #E4E3DB);
}

#apodr li {
  font-size: 1.3rem;
}

.carousel .slide img {
  max-width: 500px;
  max-height: 100%;
}

.carousel .thumbs {
  display: flex;
  justify-content: center;
  width: fit-content;
}

.carousel-root {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.thumbs-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.thumbs {
  padding-inline-start: 0;
}