body {
  margin: 0;
  font-family: 'Georgia', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* For now */
  background-color: #3a3a3a;

  min-width: 100vw  ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  color: rgb(21, 102, 105);
}

html {
  scroll-behavior: smooth;
}

.btn {
  background-color: #F0CDFF; 
  color: rgb(21, 102, 105); 
  border: 1px solid rgb(21, 102, 105);
  border-radius: 5px;
  padding: 15px 50px; 
  text-align: center; 
  display: inline-block;
  font-size: 16px;
  width: fit-content;
}