body {
  margin: 0;
  font-family: 'Georgia', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  min-width: 100vw  ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  color: rgb(21, 102, 105);
  min-height: 800px;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}

.btn {
  background-color: #F0CDFF; 
  color: rgb(21, 102, 105); 
  border: 1px solid rgb(21, 102, 105);
  border-radius: 5px;
  padding: 15px 50px; 
  text-align: center; 
  display: inline-block;
  font-size: 16px;
  width: fit-content;
}

.info_box {
  background-color: #EEECDE;
  width: fit-content;
  height: fit-content;
  padding: 20px 50px;
  line-height: 200%;
}

.info_box h2 {
  font-size: 4rem;
}

.info_box p {
  font-size: 1.2rem;
}